<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
      <ion-item nav-clear menu-close href="#/app/usercomments">
          <i class="icon ion-android-contact"></i> Movie List
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profile">
          <i class="icon ion-android-contact"></i> Profile
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mycomments">
           <i class="icon ion-ios7-chatbubble"></i> My Reviews
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/feeds">
           <i class="icon ion-looping comment-post"></i> Feeds
        </ion-item>
         <ion-item nav-clear menu-close ng-click="logout()">
           <i class="icon ion-power comment-post"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
