/* Empty. Add your own CSS if you like */
.movie-poster{
 margin-left: 35%;
}
.comment-post{
 
}
.like{
 color:red;
 }
 .facebooklogin{
  background-color:#4c66a4;
 }

  .twitterlogin{
   margin-top: 1%;
  background-color:#4099FF;
 }
.reviews{margin-bottom: 5% ;}